html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #181818;
  color: lightgrey;
  text-align: center;
}

form {
  margin: 2rem;
}

.form-row {
  margin: 2rem;
  font-size: 1.5rem;
}

[type="number"] {
  padding: 5px;
  background-color: rgb(40, 40, 40);
  color: lightgrey;
  font-size: 1.5rem;
}

[type="submit"] {
  font-size: 1.5rem;
  padding: 5px;
  background-color: #3778bb;
  color: whitesmoke;
  border-radius: 11px;
}

[type="submit"]:hover {
  background: #245786;
  transition: 0.3s;
}

.results {
  margin: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.fact-container {
  margin: 2rem;
}

@media screen and (max-width: 777px) {
  .fact-container {
    width: 400px;
  }
}

@media screen and (min-width: 390px) {
  .fact-container {
    width: 500px;
  }
}
